<div class="fullwidth fullheight flexbox">
  <div class="modalstudentpersonalinfo modal-content">
    <div class="modal-header">
      <span
        class="close"
        onclick="
      closemodal('1ststackmodalid')
      "
        >&times;</span
      >
      <h3>Student's Personal Information</h3>
    </div>
    <div class="modal-body">
      <div
        class="fullwidth flexbox flexdirec-row"
        style="background-color: rgb(231, 231, 231)">
        <label class="fullwidth" style="padding: 5px">Lastname</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Firstname</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div
        class="fullwidth flexbox flexdirec-row"
        style="background-color: rgb(231, 231, 231)">
        <label class="fullwidth" style="padding: 5px">Birthdate</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Gender</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div
        class="fullwidth flexbox flexdirec-row"
        style="background-color: rgb(231, 231, 231)">
        <label class="fullwidth" style="padding: 5px">Address</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Contact No.</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div
        class="fullwidth flexbox flexdirec-row"
        style="background-color: rgb(231, 231, 231)">
        <h4 class="fullwidth" style="padding: 8px">Parents Information</h4>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Mother's Name</label>
        <label class="fullwidth" style="padding: 5px">data</label>
        <label class="fullwidth" style="padding: 5px"> Fathers's Name</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Occupation</label>
        <label class="fullwidth" style="padding: 5px">data</label>
        <label class="fullwidth" style="padding: 5px"> Occupation</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Contact No.</label>
        <label class="fullwidth" style="padding: 5px">data</label>
        <label class="fullwidth" style="padding: 5px"> Contact No.</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div
        class="fullwidth flexbox flexdirec-row"
        style="background-color: rgb(231, 231, 231)">
        <h4 class="fullwidth" style="padding: 8px">Guardian's Information</h4>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Guardian's Name</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px"
          >Relationship to Guardian</label
        >
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Contact No.</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
      <div class="fullwidth flexbox flexdirec-row">
        <label class="fullwidth" style="padding: 5px">Address</label>
        <label class="fullwidth" style="padding: 5px">data</label>
      </div>
    </div>
  </div>
</div>
