<div class="fullwidth fullheight flexbox">
  <div class="modalmsgsandnotif modal-content modalanimatemsgsandnotif">
    <div class="modal-header">
      <span
        class="close"
        onclick="
              closemodal('1ststackmodalid')
              "
        >&times;</span
      >
      <h3>Messages and Notifications</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <div class="fullwidth" style="height: 80%; overflow-y: scroll">
        <div
          onclick="openmodal('1ststackmodalid','app/components/modalcontent/msgsandnotif/assessment_payment/tuitionotherfees.html')"
          class="fullwidth msg">
          [Notification] Registrar has approved your admission.... Loreto
          Hermosura11:49 PM
        </div>
        <div
          onclick="openmodal('1ststackmodalid','app/components/modalcontent/msgsandnotif/enlistment/schedule.html')"
          class="fullwidth msg">
          [Notification] Cashier has approved your payment... Click here.
        </div>
        <div class="fullwidth msg">[Message] Hello world</div>
        <div
          onclick="openmodal('1ststackmodalid','app/components/modalcontent/msgsandnotif/balance/paymentmethod.html')"
          class="fullwidth msg">
          [Notification] Pay your balance
        </div>
      </div>
    </div>
  </div>
</div>
