@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow", sans-serif;
}

*::before *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: url("../../img/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.allignall {
  height: 100hv;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  float: right;
  margin-right: 15%;
}

.allignall .centeralign {
  width: 100%;
  margin-top: 28%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allignall .centeralign .fgotpass-container {
  font-family: "Barlow", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.allignall .centeralign .fgotpass-container #loginattempts {
  color: #57cbb4;
  font-weight: bold;
}

.allignall .centeralign .fgotpass-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form img {
  margin: auto;
  width: 165px;
  height: 125px;
}

.allignall .centeralign .fgotpass-container form .fgotpass-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allignall .centeralign .fgotpass-container form .fgotpass-header .bck-fpass {
  cursor: pointer;
}

.allignall .centeralign .fgotpass-container form .fgotpass-header .bck-fpass ion-icon {
  height: 30px;
  width: 30px;
  color: #888888;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container form .fgotpass-header .bck-fpass ion-icon:hover {
  color: #5c5c5c;
}

.allignall .centeralign .fgotpass-container form .fgotpass-header h2 {
  color: #525252;
  margin-left: auto;
  margin-right: auto;
}

.allignall .centeralign .fgotpass-container form .fgotpass-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form .fgotpass-body p {
  text-align: left;
}

.allignall .centeralign .fgotpass-container form .fgotpass-body input[type="text"] {
  width: auto;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #5c5c5c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container form .fgotpass-body input[type="text"]:focus {
  border: 1px solid #57cbb4;
}

.allignall .centeralign .fgotpass-container form .fgotpass-body button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background-color: #833db0;
  color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.allignall .centeralign .fgotpass-container form .fgotpass-body button p {
  margin-left: auto;
  margin-right: auto;
}

.allignall .centeralign .fgotpass-container form .fgotpass-body button:hover {
  opacity: 0.9;
}

.allignall .centeralign .fgotpass-container form .verfpass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form .verfpass-container p {
  width: 350px;
}

.allignall .centeralign .fgotpass-container form .verfpass-container input[type="text"] {
  width: auto;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #5c5c5c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container form .verfpass-container input[type="text"]:focus {
  border: 1px solid #57cbb4;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .btn-container button {
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .btn-container .verfcon-btn {
  background-color: #833db0;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.allignall .centeralign .fgotpass-container form .verfpass-container .btn-container .verfcon-btn:hover {
  opacity: 0.9;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .btn-container .bck-btn {
  border: 1px solid #57cbb4;
  background-color: transparent;
  color: #57cbb4;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .btn-container .bck-btn:hover {
  background-color: #d8f5ef;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .resend-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allignall .centeralign .fgotpass-container form .verfpass-container .resend-container #counter {
  color: #57cbb4;
  font-weight: 700;
  cursor: pointer;
}

.allignall .centeralign .fgotpass-container form .cngpass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-header {
  color: #6e6e6e;
  width: 350px;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-body {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-body ul {
  list-style: disc;
  margin-left: 30px;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-body input[type="password"] {
  width: auto;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #5c5c5c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-body input[type="password"]:focus {
  border: 1px solid #57cbb4;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-footer button {
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-footer .changepass-btn {
  background-color: #833db0;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-footer .changepass-btn:hover {
  opacity: 0.9;
}

.allignall .centeralign .fgotpass-container form .cngpass-container .cngpass-footer .goback-btn {
  background-color: transparent;
  border: 1px solid #57cbb4;
  color: #57cbb4;
}

.allignall .centeralign .fgotpass-container form .succpass-container {
  background-color: #e3f6dc;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allignall .centeralign .fgotpass-container form .succpass-container h2 {
  width: 250px;
  text-align: center;
  margin: auto;
}

.allignall .centeralign .fgotpass-container form .succpass-container .succpass-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.allignall .centeralign .fgotpass-container form .succpass-container .succpass-body button {
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #833db0;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.allignall .centeralign .fgotpass-container form .succpass-container .succpass-body button:hover {
  opacity: 0.9;
}

.allignall .centeralign .fgotpass-container-logform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  row-gap: 5px;
}

.allignall .centeralign .fgotpass-container-logform input[type="text"] {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #525252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container-logform input[type="text"]:focus {
  border: 1px solid #57cbb4;
}

.allignall .centeralign .fgotpass-container-logform input[type="password"] {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #525252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container-logform input[type="password"]:focus {
  border: 1px solid #57cbb4;
}

.allignall .centeralign .fgotpass-container .fgotpass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.allignall .centeralign .fgotpass-container .fgotpass-container .fgotpass-txt {
  cursor: pointer;
}

.allignall .centeralign .fgotpass-container .logbtn-container button {
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: #525252;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.allignall .centeralign .fgotpass-container .logbtn-container button:hover {
  opacity: 0.9;
}

.allignall .centeralign .fgotpass-container .clrbtn-container button {
  border-radius: 5px;
  border: 1px solid #833db0;
  background-color: transparent;
  color: #833db0;
  padding: 10px 15px;
  cursor: pointer;
  width: 350px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container .clrbtn-container button:hover {
  background-color: #dab6f0;
}

.allignall .centeralign .fgotpass-container .log-admin {
  cursor: pointer;
  color: #7e7e7e;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allignall .centeralign .fgotpass-container .log-admin:hover {
  color: #575757;
}
/*# sourceMappingURL=forgotpass.css.map */