<div class="fullwidth fullheight leftnavbar" style="overflow-y: scroll">
  <div class="logoimage flexbox" style="padding: 43px">
    <img
      src="./img/knowledgeville_nobackground.png"
      style="width: 140px; height: auto" />
  </div>
  <div
    id="home"
    onclick="defaultsidenavall(); 
          document.getElementById('home').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/dashboard');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes navbtnactive"
    style="text-align: left">
    <ion-icon name="home-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Home</label>
  </div>
  <div
    id="addadmin"
    onclick="defaultsidenavall();
          document.getElementById('addadmin').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/addadmin');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="person-add-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Add Admin</label>
  </div>
  <div
    id="addstaff"
    onclick="defaultsidenavall();
          document.getElementById('addstaff').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/addstaff');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="person-add-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Add Staff</label>
  </div>
  <div
    id="audittrail"
    onclick="defaultsidenavall();
          document.getElementById('audittrail').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/audittrail');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="clipboard-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Audit Trail</label>
  </div>
  <div
    id="managestudent"
    onclick="defaultsidenavall();
          document.getElementById('managestudent').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/managestudent');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="file-tray-full-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Manage Student</label>
  </div>
  <div
    id="curriculum"
    onclick="defaultsidenavall();
        document.getElementById('curriculum').classList.add('navbtnactive');
        includehtml('superadminpage', 'app/pages/curriculum');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="school-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Curriculum</label>
  </div>
  <div
    id="manageuseraccess"
    onclick="defaultsidenavall();
          document.getElementById('manageuseraccess').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/manageuseraccess');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="desktop-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px"
      >Manage User Access</label
    >
  </div>
  <div
    id="registrar"
    onclick="defaultsidenavall();
          document.getElementById('registrar').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/registrar');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="person-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Registrar</label>
  </div>
  <div
    id="accounting"
    onclick="defaultsidenavall();
          document.getElementById('accounting').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/accounting');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="calculator-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Accounting</label>
  </div>
  <div
    id="cashier"
    onclick="defaultsidenavall();
          document.getElementById('cashier').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/cashier');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="card-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Cashier</label>
  </div>
  <div
    id="enlistment"
    onclick="defaultsidenavall();
          document.getElementById('enlistment').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/enlistment');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="person-circle-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Enlistment</label>
  </div>
  <div
    id="reports"
    onclick="defaultsidenavall();
          document.getElementById('reports').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/reports');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="stats-chart-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Reports</label>
  </div>
  <div
    id="logyearspan"
    onclick="defaultsidenavall();
          document.getElementById('logyearspan').classList.add('navbtnactive');
          includehtml('superadminpage', 'app/pages/logyearspan');"
    class="fullwidth fullheight flexbox flexdirec-row navbtndes"
    style="text-align: left">
    <ion-icon name="calendar-outline"></ion-icon>
    <label class="fullwidth" style="margin-left: 10px">Log Year Span</label>
  </div>
</div>
