<div class="fullwidth fullheight flexbox">
  <div class="modalenrollnow modal-content modalanimateenrollnow">
    <div class="modal-header">
      <span
        class="close"
        onclick="
              closemodal('1ststackmodalid')
              "
        >&times;</span
      >
      <h3>Enroll as:</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <div class="content1">
        <button
          onclick="openmodal('2ndstackmodalid','app/components/modalcontent/enrollnow/newstudent')"
          class="btndes3">
          NEW STUDENT
        </button>
        <button
          onclick="openmodal('2ndstackmodalid','app/components/modalcontent/enrollnow/oldstudent')"
          class="btndes3">
          OLD STUDENT
        </button>
        <button
          onclick="openmodal('2ndstackmodalid','app/components/modalcontent/enrollnow/transferee')"
          class="btndes3">
          TRANSFEREE STUDENT
        </button>
        <button
          onclick="openmodal('2ndstackmodalid','app/components/modalcontent/enrollnow/foreign')"
          class="btndes3">
          FOREIGN STUDENT
        </button>
      </div>
    </div>
  </div>
</div>
