<div class="fullwidth fullheight flexbox">
  <div class="modalmsgsandnotif_selectsection modal-content">
    <div class="modal-header">
      <span
        class="close"
        onclick="
                    closemodal('2ndstackmodalid')
                    "
        >&times;</span
      >
      <h3>Select Section</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <select class="dropdowndes1"></select>
      <div class="fullwidth flexbox">
        <button
          onclick="closemodal('2ndstackmodalid');openmodal('1ststackmodalid','app/components/modalcontent/enrollnow/successsubmit')"
          class="btndes4"
          style="width: 30%">
          SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>
