<div class="fullwidth fullheight flexbox viewstudentgrid">
  <div class="modal-content modalviewstudent">
    <div class="modal-header">
      <span
        class="close"
        onclick="
        closemodal('1ststackmodalid')
      "
        >&times;</span
      >
      <h3>View Student Info</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <p id="admindeptstudentid">ID:---</p>
      <p id="admindeptpresonalinfoschoollevel">School Level:---</p>
      <p id="admindeptpresonalinfoyearlevel">Year Level:---</p>
      <p id="admindeptsection">Section:---</p>
    </div>
  </div>
</div>
