<div class="fullwidth fullheight flexbox">
  <div class="modalusergrantaccess modal-content">
    <div class="modal-header">
      <span
        class="close"
        onclick="
        closemodal('1ststackmodalid')
        "
        >&times;</span
      >
      <h3>Grant Access</h3>
    </div>
    <div class="modal-body fullwidth">
      <div class="fullwidth fullheight">
        <p>ID:</p>
        <div
          class="fullwidth fullheight"
          style="height: 16em; overflow-y: scroll">
          <div
            class="fullwidth"
            style="
              border-radius: 10px;
              padding: 10px;
              background-color: rgb(223, 223, 223);
            ">
            User {name} want to access {name} Module
          </div>
        </div>
        <button class="btndes4" style="margin-top: 10px">GRANT</button>
      </div>
    </div>
  </div>
</div>
