.about-container {
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: 0.5s;
  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  /** -------------------------- **/

  &__con1 {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 300px;
    background-color: $white;
    bottom: 20px;
    left: 140px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);

    h3 {
      margin: 10px;
    }

    p {
      margin: 20px;
      text-align: center;
    }
  }

  &__pic {
    display: flex;
    justify-content: center;

    img {
      margin: 10px;
      margin-top: 50px;
      height: 250px;
      width: auto;
    }
  }
}
