.dashcon-container {
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: 0.5s;
  margin-left: 20px;
  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  /** -------------------------- **/

  h3 {
    margin: 15px;
    color: $black;
  }

  &__header {
    width: 95%;
    height: 150px;
    background-image: linear-gradient($violet, lightblue);
    margin: 15px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: -1;

    img {
      width: 100%;
      margin-top: 65px;
    }

    .headertext {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20px;

      h3 {
        color: $white;
      }

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }
    }
  }

  &__progress {
    width: 95%;
    margin-left: 12px;
    margin-right: auto;
    height: auto;

    .progressbar {
      counter-reset: step;
      text-align: center;
    }
    .progressbar li {
      list-style: none;
      display: inline-block;
      width: 15%;
      position: relative;
      text-align: center;
      cursor: pointer;
    }
    .progressbar li:before {
      content: counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 2px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #fff;
    }
    .progressbar li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ddd;
      top: 15px;
      left: -50%;
      z-index: -1;
    }
    .progressbar li:first-child:after {
      content: none;
    }
    .progressbar li.active {
      color: $darkGreen;
    }
    .progressbar li.active:before {
      border-color: $darkGreen;
    }
    .progressbar li.active + li:after {
      background-color: $darkGreen;
    }
  }

  &__grid {
    display: grid;
    font-weight: 600;
    margin: 15px;
    margin-right: 50px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "inquire enroll"
      "msg account";
    grid-gap: 10px;

    .inquire {
      background: $blueGreen;
      grid-area: inquire;
      border-radius: 10px;
      height: 100px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;

      &__content1 {
        background-color: #77ebd4;
        border-radius: 10px;
        height: 70px;
        display: flex;
      }

      img {
        height: 70px;
        width: auto;
        margin: 15px;
        margin-left: 30px;
      }

      h3 {
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: 30px;
      }

      button {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 2px 4px 0px $black;
        background-color: #389b87;
        position: absolute;
        bottom: 15px;
        right: 15px;

        ion-icon {
          color: $white;
          font-size: 24px;
        }
      }
    }

    .enroll {
      background: $blueGreen;
      grid-area: enroll;
      border-radius: 10px;
      height: 100px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;

      &__content1 {
        background-color: #77ebd4;
        border-radius: 10px;
        height: 70px;
        display: flex;
      }

      img {
        height: 70px;
        width: auto;
        margin: 15px;
        margin-left: 30px;
      }

      h3 {
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: 30px;
      }

      button {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 2px 4px 0px $black;
        background-color: #389b87;
        position: absolute;
        bottom: 15px;
        right: 15px;

        ion-icon {
          color: $white;
          font-size: 24px;
        }
      }
    }

    .msg {
      background: $blueGreen;
      grid-area: msg;
      border-radius: 10px;
      height: 100px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;

      &__content1 {
        background-color: #77ebd4;
        border-radius: 10px;
        height: 70px;
        display: flex;
      }

      img {
        height: 70px;
        width: auto;
        margin: 15px;
        margin-left: 30px;
      }

      h3 {
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: 30px;
      }

      button {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 2px 4px 0px $black;
        background-color: #389b87;
        position: absolute;
        bottom: 15px;
        right: 15px;

        ion-icon {
          color: $white;
          font-size: 24px;
        }
      }
    }

    .account {
      background: $blueGreen;
      grid-area: account;
      border-radius: 10px;
      height: 100px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;

      &__content1 {
        background-color: #77ebd4;
        border-radius: 10px;
        height: 70px;
        display: flex;
      }

      img {
        height: 70px;
        width: auto;
        margin: 15px;
        margin-left: 30px;
      }

      h3 {
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: 30px;
      }

      button {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 2px 4px 0px $black;
        background-color: #389b87;
        position: absolute;
        bottom: 15px;
        right: 15px;

        ion-icon {
          color: $white;
          font-size: 24px;
        }
      }
    }
  }
}
