body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.logincontainer {
  display: flex;
  margin: 0;
  width: 100%;

  &__loginform {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url("/images/loginbg.png");
    background-size: cover;
    justify-content: center;
    align-items: center;

    h3 {
      color: $white;
      margin: 20px;
    }

    &__inputtext {
      display: flex;
      flex-direction: column;
      width: 50%;

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .imgcon {
          background-color: $white;
          border-radius: 50px;
          margin-right: 10px;

          img {
            padding: 4px 6px;
            height: 23px;
          }
        }
      }

      input[type="text"] {
        width: 100%;
        padding: 8px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 20px;
        border: none;
        transition: 0.5s;
      }
      input[type="text"]:focus {
        outline: none;
        background-color: rgb(230, 220, 220);
      }
      input[type="password"] {
        width: 100%;
        padding: 8px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 20px;
        border: none;
        transition: 0.5s;
      }
      input[type="password"]:focus {
        outline: none;
        background-color: rgb(230, 220, 220);
      }

      a {
        text-decoration: none;
        text-align: right;
        color: $white;
        font-size: small;

        :hover {
          opacity: 0.7;
        }
      }

      .loginbtn {
        height: 30px;
        border: none;
        background-color: $blueGreen;
        color: $white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 700;
        box-shadow: 2px 3px 5px $black;
        margin-top: 20px;
      }

      .loginbtn:hover {
        opacity: 0.7;
        transition: 0.5s;
      }

      .regcon {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;

        p {
          color: $white;
          font-size: small;
        }

        a {
          padding-left: 12px;
          font-weight: 700;
        }
      }
    }
  }
}
