.staffloginpage {
  background: url("../img/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.staffloginmargin {
  margin-bottom: 10px;
}

.staffforgotpasswordemail {
  margin-bottom: 10px;
}
