<div class="fullwidth fullheight flexbox">
  <div class="modalsection modal-content">
    <div class="modal-header">
      <span
        class="close"
        onclick="
      closemodal('1ststackmodalid')
      "
        >&times;</span
      >
      <h3>Section</h3>
    </div>
    <div class="modal-body fullwidth">
      <div class="fullwidth fullheight flexbox flexdirec-col">
        <select class="dropdowndes1"></select>
        <select class="dropdowndes1"></select>
        <input class="inputtextdes3" type="text" />
        <select class="dropdowndes1"></select>
        <button class="btndes4" style="margin-top: 10px">SAVE</button>
        <button class="btndes4" style="margin-top: 10px">DELETE</button>
      </div>
    </div>
  </div>
</div>
