<div class="fullwidth fullheight flexbox">
  <div class="modalinquirenow modal-content modalanimateinquirenow">
    <div class="modal-header">
      <span
        class="close"
        onclick="
            closemodal('1ststackmodalid')
            "
        >&times;</span
      >
      <h3>Inquire Now</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <h4>Content</h4>
      <textarea class="inputtextdes3"></textarea>
      <button class="btndes4">SEND</button>
    </div>
  </div>
</div>
