<div class="fullwidth fullheight flexbox">
  <div class="modaladdadmin_editmoduleaccess modal-content">
    <div class="modal-header">
      <span
        class="close"
        onclick="
          closemodal('1ststackmodalid')
          "
        >&times;</span
      >
      <h3>Admin Module Access</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <div class="fullwidth" style="height: 65%">
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid1">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid1" />
            <div class="checkbox__box"></div>
            Add Staff
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid2">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid2" />
            <div class="checkbox__box"></div>
            Audit Trail
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid3">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid3" />
            <div class="checkbox__box"></div>
            Manage Student
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid4">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid4" />
            <div class="checkbox__box"></div>
            Manage User Access
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid5">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid5" />
            <div class="checkbox__box"></div>
            Registrar
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid6">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid6" />
            <div class="checkbox__box"></div>
            Accounting
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid7">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid7" />
            <div class="checkbox__box"></div>
            Cashier
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid8">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid8" />
            <div class="checkbox__box"></div>
            Enlistment
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid9">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid9" />
            <div class="checkbox__box"></div>
            Reports
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="checkboxid10">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="checkboxid10" />
            <div class="checkbox__box"></div>
            Log Year Span
          </label>
        </div>
        <h4>School Level</h4>
        <div class="fullwidth">
          <select class="dropdowndes1"></select>
        </div>
        <h4>Year Level</h4>
        <div class="fullwidth">
          <select class="dropdowndes1"></select>
        </div>
        <h4>Section</h4>
        <div class="fullwidth">
          <select class="dropdowndes1"></select>
        </div>
        <h4>Accessibility</h4>
        <div class="fullwidth">
          <select class="dropdowndes1"></select>
        </div>
      </div>
      <div class="fullwidth flexbox" style="margin-top: 10px">
        <button class="btndes4">SAVE</button>
      </div>
    </div>
  </div>
</div>
