<div class="fullwidth fullheight flexbox">
  <div class="modaleditprofile modal-content modalanimateediprofile">
    <div class="modal-header">
      <span
        class="close"
        onclick="
          closemodal('1ststackmodalid')
          "
        >&times;</span
      >
      <h3>Edit Profile</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <div class="fullwidth" style="height: 75%; overflow-y: scroll">
        <h4 class="fullwidth flexbox" style="margin-bottom: 10px">
          Add Profile Picture
        </h4>
        <div class="fullwidth flexbox">
          <img src="./img/light_grey.jpg" />
        </div>
        <div class="fullwidth flexbox">
          <button class="btndes2 uploadbtndes">Upload</button>
        </div>
        <label>Lastname</label>
        <input class="inputtextdes3" type="text" />
        <label>Firstname</label>
        <input class="inputtextdes3" type="text" />
        <label>Email</label>
        <input class="inputtextdes3" type="text" />
        <label>Username</label>
        <input class="inputtextdes3" type="text" />
        <label>Password</label>
        <input class="inputtextdes3" type="text" />
      </div>
      <div class="fullwidth flexbox" style="padding: 15px">
        <button class="btndes4">SAVE</button>
      </div>
    </div>
  </div>
</div>
